.stop-writing {
    background-image: url('../../Assets/banner2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    min-height: 500px;
}